<nav class="shell-nav">
  <div class="nav-brand">Memento mori</div>
  <div class="nav-links">
    <a routerLink="/yearly-stream" routerLinkActive="active">
      Yearly Stream
    </a>
    <a routerLink="/daily-timeline" routerLinkActive="active">
      Daily Timeline
    </a>
    <a routerLink="/weekly-tracker" routerLinkActive="active">
      Weekly Tracker
    </a>
    <a routerLink="/range-tracker" routerLinkActive="active">
      Range Tracker
    </a>
    <a routerLink="/content-explorer" routerLinkActive="active">
      Content Explorer
    </a>
    <a routerLink="/monthly-calendar" routerLinkActive="active">
      Monthly Calendar
    </a>
    <a routerLink="/sprint-board" routerLinkActive="active">
      Sprint Board
    </a>
    <a routerLink="/memento-management" routerLinkActive="active">
      Management
    </a>
    <a routerLink="/view-chart" routerLinkActive="active">
      View Chart
    </a>
  </div>
</nav>

<main class="shell-content">
  <router-outlet></router-outlet>
</main>